.card {
  width: 15rem;
  height: 12rem;
}
.image_style {
  width: 3rem;
  border-radius: 50%;
}

.line_chart_container {
  height: 30rem;
}

.tree_profile {
  height: 90vh;
}

.vertical-tree {
  width: 100vw;
  height: 100vh;
}

.tree_profile {
  /* margin-left: 20rem; */
}

.link_style {
  font-size: 0.8rem;
}

.family-tree-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin-top: 2rem;
}

.rdt_Node circle {
  fill: #8884d8;
}

.rdt_Link path {
  stroke: #8884d8;
}
